{% extends 'base.html.twig' %}

{% block title %}Fiche détaillée de demande de devis en cours commercial{% endblock %}

{% block body %}
    <div class="badge-center" style="margin: 0 auto; width: 600px; padding-top: 50px;">
        <h3>Fiche détaillée de la demande de {{ clients.nomClient }} {{ clients.prenomClient }}</h3><br><br>
        <div class="badge-modif" style="font-size: 18px!important">
            <div class ="main-container">
                <div class=" highlight" style="margin-left:0;">
                    <div class="row">
                        <ul class="list-group">
                            <li class="list-group-item">ID demande : {{ clients.idClient }}</li>
                            <li class="list-group-item">Nom Artisan : {{ artisans.nom }}</li>
                            <li class="list-group-item">Prénom Artisan : {{ artisans.prenom }}</li>
                            <li class="list-group-item">Nom Client : {{ clients.nomClient }}</li>
                            <li class="list-group-item">Prénom Client : {{ clients.prenomClient }}</li>
                            <li class="list-group-item">Numéro de rue : {{ clients.adresseInterventionNumero }}</li>
                            <li class="list-group-item">Rue : {{ clients.adresseInterventionRue }}</li>
                            <li class="list-group-item">Ville : {{ clients.adresseInterventionVille }}</li>
                            <li class="list-group-item">Code postal : {{ clients.adresseInterventionCp }}</li>
                            <li class="list-group-item">Téléphone Client : {{ clients.telClient }}</li>
                            <li class="list-group-item">Mail Client : {{ clients.mailClient }}</li>
                            <li class="list-group-item">Téléphone Artisan : {{ artisans.tel }}</li>
                            <li class="list-group-item">Mail Artisan : {{ artisans.mail }}</li>
                            <li class="list-group-item">Description : {{ clients.descriptionSup }}</li>
                            <li class="list-group-item">Date de proposition : {{ clients.dateProposition|date('Y/m/d') }}</li>
                            <li class="list-group-item">Date de réalisation : {{ clients.dateRealisation|date('Y/m/d') }}</li>
                            <li class="list-group-item">État d'avancement : {{ clients.etatAvancement }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}