{% extends 'base.html.twig' %}

{% block title %}Fiche détaillée de demande de devis en cours commercial{% endblock %}

{% block body %}
    <div class="badge-center" style="margin: 0 auto; width: 600px; padding-top: 50px;">
        <h3>Fiche détaillée de la demande de {{ infoClient.nomClient }} {{ infoClient.prenomClient }}</h3><br><br>
        <div class="badge-modif" style="font-size: 18px!important">
            <div class ="main-container">
                <div class=" highlight" style="margin-left:0;">
                    <div class="row">
                        <ul class="list-group">
                            <li class="list-group-item">Nom : {{ infoClient.nomClient }}</li>
                            <li class="list-group-item">Prénom : {{ infoClient.prenomClient }}</li>
                            <li class="list-group-item">Adresse : {{ infoClient.adresseInterventionNumero }} {{ infoClient.adresseInterventionRue }}</li>
                            <li class="list-group-item">Ville : {{ infoClient.adresseInterventionCp }} {{ infoClient.adresseInterventionVille }}</li>
                            <li class="list-group-item">Téléphone : {{ infoClient.telClient }}</li>
                            <li class="list-group-item">Mail : {{ infoClient.mailClient }}</li>
                            <li class="list-group-item">Description : {{ infoClient.descriptionSup }}</li>
                            <li class="list-group-item">Date de proposition : {{ infoClient.dateProposition|date('d/m/Y') }}</li>
                            <li class="list-group-item">Date de réalisation : {{ infoClient.dateRealisation|date('d/m/Y h:m') }}</li>
                            <li class="list-group-item">État d'avancement : {{ infoClient.idEtatAvancement.nomEtatAvancement }}</li>
                            <li class="list-group-item">Service : {{ infoClient.idService.nomService }}</li>
                            {% for artisan in infoArtisans %}
                                <li class="list-group-item">Artisan ayant visualisé la demande : <a href="{{ path('commercialprestatairedetail', {id: artisan.idArtisan}) }}">{{ artisan.nom }} {{ artisan.prenom }}</a></li>
                            {% endfor %}<br>
                            <!-- A FAIRE POUR ALEXANDRE : POUVOIR MODIFIER TEL, DESCRIPTION, NOM, PRENOM, MAIL, FUTURE ADRESSE

                            <a href="{# path('adminmodifprestataire', {id: infoArtisan.idArtisan}) #}"><input type="submit" class="btn btn-primary" value="Modifier les informations"> </a>
                            -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}