{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.mail, {'label':'E-mail'}) }}
        {{ form_row(registrationForm.motdepasse, {'label':'Mot de passe','attr':{'maxlength':'30'}} ) }}
        {{ form_row(registrationForm.nom,{'label':'Nom'}) }}

    {{ form_end(registrationForm) }}
{% endblock %}
