{% extends 'base.html.twig' %}

{% block body %}

{% block slider %}
<!-- Slider area -->
    <section class="slider_area row m0">
        <div class="slider_inner">
            <div data-thumb="{{ asset('build/images/slider-1.jpg') }}" data-src="{{ asset('build/images/slider-1.jpg') }}">
                <div class="camera_caption">
                    <div class="container">
                        <h5 class=" wow fadeInUp animated">BIENVENUE</h5>
                        <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">SERRURIER DE MA VILLE</h3>
                        <p class=" wow fadeInUp animated" data-wow-delay="0.8s">TROUVEZ UN SERRURIER DE CONFIANCE PROCHE DE CHEZ VOUS</p>
                        <a class=" wow fadeInUp animated" data-wow-delay="1s" href="#">EN SAVOIR PLUS</a>
                    </div>
                </div>
            </div>
            <div data-thumb="{{ asset('build/images/slider-2.jpg') }}" data-src="{{ asset('build/images/slider-2.jpg') }}">
                <div class="camera_caption">
                    <div class="container">
                        <h5 class=" wow fadeInUp animated">BIENVENUE</h5>
                        <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">SERRURIER DE MA VILLE</h3>
                        <p class=" wow fadeInUp animated" data-wow-delay="0.8s">TROUVEZ UN SERRURIER DE CONFIANCE PROCHE DE CHEZ VOUS</p>
                        <a class=" wow fadeInUp animated" data-wow-delay="1s" href="#">EN SAVOIR PLUS</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}{#End Slider area#}
{% block about %}<!-- About Us Area -->
    <section class="about_us_area row" id="apropos">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>QUI SOMMES-NOUS ?</h2>
            </div>
            <div class="row about_row">
                <div class="who_we_area col-md-9 col-sm-6">
                    <p>Notre site Internet regroupe les serruriers de votre région et vous permet de faire des demandes de devis concernant la serrurerie qui seront envoyées aux professionnels disponibles aux alentours.</p>
                </div>
                <div class="who_we_area col-md-3 col-sm-6">
                    <p>BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2BLOC 2</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}{#End About Us Area#}
{% block professional_builder %}<!-- Professional Builde -->
    <section class="professional_builder row" id="services">
        <div class="container">
            <div class="row builder_all">
                <div class="tittle wow fadeInUp" style="padding-bottom: 100px;">
                    <h2 style="padding: 0px !important;">NOS SERVICES</h2>
                    <h4>Les professionnels réalisent leurs prestations dans différents domaines</h4>
                </div>
                <div class="container">
                    <div class="col-md-3 builder">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <h4>Porte</h4>
                        <p>Ouverture de porte bloquée, claquée</p>
                    </div>
                    <div class="col-md-3 builder">
                        <i class="fa fa-building" aria-hidden="true"></i>
                        <h4>Coffre-fort</h4>
                        <p>Ouverture de coffre-fort bloqué</p>
                    </div>
                    <div class="col-md-3 builder">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <h4>Réparation</h4>
                        <p>Réparation de tous types d’ouvrages</p>
                    </div>
                    <div class="col-md-3 builder">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <h4>Serrure</h4>
                        <p>Changement de serrure</p>
                    </div>
                </div>
                <div class="container col-md-12">
                    <div class="col-md-3 builder">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <h4>Installation</h4>
                        <p>Installation de portes blindées</p>
                    </div>
                    <div class="col-md-3 builder">
                        <i class="fa fa-building" aria-hidden="true"></i>
                        <h4>Blindage</h4>
                        <p>Blindage de porte et/ou de fenêtre</p>
                    </div>
                    <div class="col-md-3 builder">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <h4>Double</h4>
                        <p>Réalisation de double de clé</p>
                    </div>
                    <div class="col-md-3 builder">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        <h4>Autres</h4>
                        <p>Autres réalisations supplémentaires</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}{#End Professional Builde#}
{% block garanties %}<!-- Garanties Area -->
    <section class="about_us_area row" id="garanties">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>NOS GARANTIES</h2>
                <h4>Trouvez l'artisan qui correspond à votre besoin</h4>
            </div>
            <div class="row about_row">
                <div class="who_we_area col-md-9 col-sm-6" style="text-align: left;">
                    <p>Nous vérifions que ces artisans possedent une assurance<br>
                        Nous vérifions que les artisans ne sont pas des faux<br>
                        Nous nous assurons que vous ayez au moins une reponse correspondant à votre devis<br>
                        etc</p>
                </div>
                <div class="who_we_area col-md-3 col-sm-6">
                    <img src="{{ asset('build/images/team/tm-2.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock %}{#End Garanties Area#}
{% block team %}<!-- Our Team Area -->
    <section class="our_team_area" id="equipe">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>Notre équipe</h2>
                <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
            </div>
            <div class="row team_row">
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team_membar">
                        <img src="{{ asset('build/images/team/tm-2.jpg') }}" alt="">
                        <div class="team_content">
                            <a href="#" class="name">Emran Khan</a>
                            <h6>Serrurier</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team_membar">
                        <img src="{{ asset('build/images/team/tm-3.jpg') }}" alt="">
                        <div class="team_content">
                            <a href="#" class="name">Prodip Ghosh</a>
                            <h6>Service Administration</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team_membar">
                        <img src="{{ asset('build/images/team/tm-4.jpg') }}" alt="">
                        <div class="team_content">
                            <a href="#" class="name">Jakaria Khan</a>
                            <h6>Service Commercial</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}{#End Our Team Area#}
{% block footer %}<!-- Footer Area -->
    <footer class="footer_area">
        <div class="container">
            <div class="footer_row">
                <div class="col-md-4 col-sm-6 footer_about quick">
                    <h2>RÉSEAUX SOCIAUX</h2>
                    <ul class="quick_link">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 footer_about quick">
                    <h2>POLITIQUE DE CONFIDENTIALITÉ</h2>
                    <ul class="quick_link">
                        <li><a href="#"><i class="fa fa-chevron-right"></i>CVG</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i>Mentions légales</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 footer_about">
                    <h2>INFORMATIONS DE CONTACT</h2>
                    <address>
                        <ul class="my_address">
                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>mail@mail.com</a></li>
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>+33 01 23 45 67 89</a></li>
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Adresse de l'entreprise ???</a></li>
                        </ul>
                    </address>
                </div>
            </div>
        </div>
        <div class="copyright_area">
            <p>Copyright 2019 All rights reserved</p>
        </div>
    </footer>
{% endblock %}
{% endblock %}