{% extends 'base.html.twig' %}
{% block title %}SR2F | Accueil {% endblock %}
{% block body %}
{% block slider %}
<body>
<!-- Slider area -->
    <section class="slider_area row m0">
        <div class="slider_inner">
            <div data-thumb="{{ asset('build/images/slider-1.jpg') }}" data-src="{{ asset('build/images/slider-1.jpg') }}">
                <div class="camera_caption">
                    <div class="container">
                        <h5 class=" wow fadeInUp animated">BIENVENUE</h5>
                        <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">SERRURIER DE MA VILLE</h3>
                        <p class=" wow fadeInUp animated" data-wow-delay="0.8s">TROUVEZ UN SERRURIER DE CONFIANCE PROCHE DE CHEZ VOUS</p>
                        <a class=" wow fadeInUp animated" data-wow-delay="1s" href="#">EN SAVOIR PLUS</a>
                    </div>
                </div>
            </div>
            <div data-thumb="{{ asset('build/images/slider-2.jpg') }}" data-src="{{ asset('build/images/slider-2.jpg') }}">
                <div class="camera_caption">
                    <div class="container">
                        <h5 class=" wow fadeInUp animated">BIENVENUE</h5>
                        <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">SERRURIER DE MA VILLE</h3>
                        <p class=" wow fadeInUp animated" data-wow-delay="0.8s">TROUVEZ UN SERRURIER DE CONFIANCE PROCHE DE CHEZ VOUS</p>
                        <a class=" wow fadeInUp animated" data-wow-delay="1s" href="#">EN SAVOIR PLUS</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}{#End Slider area#}
{% block about %}<!-- About Us Area -->
    <section class="about_us_area row" id="apropos">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>QUI SOMMES-NOUS ?</h2>
            </div>
            <div class="row about_row" style="display: inline-block;">
                <div class="who_we_area col-md-10">
                    <p>Notre site Internet regroupe les serruriers de votre région et vous permet de faire des demandes de devis concernant la serrurerie qui seront envoyées aux professionnels disponibles aux alentours.</p>
                </div>
                <div class="who_we_area col-md-2">
					<img src="{{ asset('build/images/interrogation.png') }}" height="42" width="42">
                    <p>{{ article1.descriptionFormule }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}{#End About Us Area#}
{% block professional_builder %}<!-- Professional Builde -->
    <section class="professional_builder row" id="services">
        <div class="container">
            <div class="row builder_all">
                <div class="tittle wow fadeInUp" style="padding-bottom: 100px;">
                    <h2 style="padding: 0 !important;">NOS SERVICES</h2>
                    <h4>Les professionnels réalisent leurs prestations dans différents domaines</h4>
                </div>
                <div class="container col-md-12">
					{% set increment=0 %}
					<div class="container col-md-12">
					{% for i in 0..longueur %}
						{% if i%4 ==0%}
							</div>
							<div class="container col-md-12">
						{% endif %}
						<div class="col-md-3 builder">
							<i class="fa fa-home" aria-hidden="true"></i>
							<p style="size: A4"><strong>{{services[i].nomService}}</strong></p>
						</div>
					{% endfor %}
					</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}{#End Professional Builde#}
{% block garanties %}<!-- Garanties Area -->
    <section class="about_us_area row" id="garanties">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>NOS GARANTIES</h2>
                <h4>Trouvez l'artisan qui correspond à votre besoin</h4>
            </div>
            <div class="row about_row">
                <div class="who_we_area col-md-9 col-sm-6" style="text-align: left;">
                    <div class="row" style="color: black;">
                    <h1>ICONE DE GARANTIE</h1><br><br>
                        <ul class="list-group">
                            <li class="list-group">Vérification de chaque artisan</li>
                            <li class="list-group">Vérification de leur assurance</li>
                            <li class="list-group">Assurance d'une reponse à votre demande</li>
                        </ul>
                    </div>
                </div>
                <div class="who_we_area col-md-3 col-sm-6">
                    <img src="{{ asset('build/images/team/tm-2.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock %}{#End Garanties Area#}
{% block team %}<!-- Our Team Area -->
    <section class="our_team_area" id="equipe">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>Notre équipe</h2>
                <h4>Notre équipe est la meilleure de toutes</h4>
            </div>
            <div class="row team_row">
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team_membar">
                        <img src="{{ asset('build/images/team/tm-2.jpg') }}" alt="">
                        <div class="team_content">
                            <a href="#" class="name">Emran Khan</a>
                            <h6>Serrurier</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team_membar">
                        <img src="{{ asset('build/images/team/tm-3.jpg') }}" alt="">
                        <div class="team_content">
                            <a href="#" class="name">Prodip Ghosh</a>
                            <h6>Service Administration</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team_membar">
                        <img src="{{ asset('build/images/team/tm-4.jpg') }}" alt="">
                        <div class="team_content">
                            <a href="#" class="name">Jakaria Khan</a>
                            <h6>Service Commercial</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}{#End Our Team Area#}
{% block footer %}<!-- Footer Area -->
    <footer class="footer_area">
        <div class="container">
            <div class="footer_row">
                <div class="col-md-4 col-sm-6 footer_about quick">
                    <h2>RÉSEAUX SOCIAUX</h2>
                    <ul class="quick_link">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 footer_about quick">
                    <h2>POLITIQUE DE CONFIDENTIALITÉ</h2>
                    <ul class="quick_link">
                        <li><a href="#"><i class="fa fa-chevron-right"></i>CVG</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i>Mentions légales</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 footer_about">
                    <h2>INFORMATIONS DE CONTACT</h2>
                    <address>
                        <ul class="my_address">
                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>support@savee.com</a></li>
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>+33 1 23 45 67 89</a></li>
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>321 Rue des Tulipes</a></li>
                        </ul>
                    </address>
                </div>
            </div>
        </div>
        <div class="copyright_area">
            <p>Copyright 2019 All rights reserved</p>
        </div>
    </footer>
{% endblock %}
{% endblock %}