{% extends 'base.html.twig' %}

{% block title %}Ma formule{% endblock %}

{% block body %}
    <section class="what_we_area row" style="background-color: #E8E8E8;">
        <div class="container">
            <div class="tittlefont text-center" style="padding: 60px;">
                <h1>MA FORMULE ACTUELLE</h1><br><br>
                <h3>Vous pouvez modifier ou annuler votre abonnement à une formule</h3><br>
                <p> Vous possédez {{ artisan.credit }} crédits.</p>
            </div>
            <div class="row construction_iner" style="padding-top: 0em;">
                <div class="col-lg-offset-4 col-md-4 construction">
                    <div class="cns-img">
                        <img src="{{ asset('build/images/office-worker-1149557_1920.jpg') }}" alt="">
                    </div>
                    <div class="cns-content">
                        <i class="fa fa-coffee"></i>
                        <a>{{ maformule.nomFormule }}</a>
                        <p>{{formuleDescri}}</p><br>
                        <a href="{{ path('formulemodif') }}" class="button_all center-block" style="padding-bottom: 12px; background-color: #E8E8E8;">CHANGER DE FORMULE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
