{% extends 'base.html.twig' %}

{% block title %}Tableau prestataires administrateur{% endblock %}

{% block body %}
    <div class="badge-center" style="margin: 0 auto; width: 600px; padding-top: 50px;">
        <h3>Fiche détaillée de l'artisan {{ artisans.nom }} {{ artisans.prenom }}</h3><br><br>
        <div class="badge-modif" style="font-size: 18px!important">
            <div class ="main-container">
                <div class=" highlight" style="margin-left:0;">
                    <div class="row">
                        <ul class="list-group">
                            <li class="list-group-item">ID Artisan : {{ artisans.idArtisan }}</li>
                            <li class="list-group-item">Nom Artisan : {{ artisans.nom }}</li>
                            <li class="list-group-item">Prénom Artisan : {{ artisans.prenom }}</li>
                            <li class="list-group-item">Raison sociale : {{ artisans.raisonSociale }}</li>
                            <li class="list-group-item">SIREN : {{ artisans.siren }}</li>
                            <li class="list-group-item">Téléphone : {{ artisans.tel}}</li>
                            <li class="list-group-item">Mail Artisan : {{ artisans.mail }}</li>
                            <li class="list-group-item">Description : {{ artisans.description }}</li>
                            <li class="list-group-item">Numéro d'assurace : {{ artisans.numAssurance  }}</li>
                            <li class="list-group-item">Date d'inscription : {{ artisans.dateInscription|date('Y/m/d') }}</li>
                            <li class="list-group-item">Crédits : {{ artisans.credit }}</li>
                            <li class="list-group-item">Coordonnée longitude : {{ artisans.coordonneeLongitude }}</li>
                            <li class="list-group-item">Coordonnée latitude : {{ artisans.coordonneeLatitude }}</li><br>
                            <input type="submit" class="btn btn-primary" value="Réinitialiser le mot de passe"><br><br>
                            <input type="submit" class="btn btn-primary" value="Modifier les informations"><br><br>
                            <input type="submit" class="btn btn-primary" value="Supprimer le compte">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}