{% extends 'base.html.twig' %}

{% block title %}Tableau prestataires administrateur{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="badge-center" style="margin: 0 auto; width: 600px; padding-top: 50px;">
        <h3>Fiche détaillée de l'artisan {{ infoArtisan.nom }} {{ infoArtisan.prenom }}</h3><br><br>
        <div class="badge-modif" style="font-size: 18px!important">
            <div class ="main-container">
                <div class=" highlight" style="margin-left:0;">
                    <div class="row">
                        <ul class="list-group">
                            {% if infoArtisan.validationAssurance == false %}
                            {% set validite = 'Non validé' %}
                            {% else %}
                            {% set validite = 'Validé' %}
                            {% endif %}
                                {% set lastService = infoService|last %}
                                {% set lastElement = infoService|slice(0,-1) %}
                            <li class="list-group-item">Nom Artisan : {{ infoArtisan.nom }}</li>
                            <li class="list-group-item">Prénom Artisan : {{ infoArtisan.prenom }}</li>
                            <li class="list-group-item">Service(s) :<br>
                                {% for service in lastElement %}
                                    - {{ service.nomService }} <br>
                                {% endfor %}
                                -  {{ lastService.nomService }}</li>
                            <li class="list-group-item">SIREN : {{ infoArtisan.siren }}</li>
                            <li class="list-group-item">Téléphone : {{ infoArtisan.tel}}</li>
                            <li class="list-group-item">Mail Artisan : {{ infoArtisan.mail }}</li>
                            <li class="list-group-item">Description : {{ infoArtisan.description }}</li>
                            <li class="list-group-item">Numéro d'assurance : {{ infoArtisan.numAssurance  }}</li>
                            <li class="list-group-item">Date d'inscription : {{ infoArtisan.dateInscription|date('d/m/Y') }}</li>
                            <li class="list-group-item">Formule : {{ infoArtisan.idFormule.nomFormule }}</li>
                            <li class="list-group-item">Crédits : {{ infoArtisan.credit }}</li>
                            <li class="list-group-item">Coordonnée latitude : {{ infoArtisan.coordonneeLatitude }}</li>
                            <li class="list-group-item">Coordonnée longitude : {{ infoArtisan.coordonneeLongitude }}</li>
                            <li class="list-group-item">Validation de l'assurance : {{ validite }}</li>
                            <li class="list-group-item">Avantage de l'artisan : {{ infoArtisan.avantageArtisan }} crédits</li><br>
                            <input type="submit" class="btn btn-primary" value="Réinitialiser le mot de passe"><br><br>
                            <a href="{{ path('adminmodifprestataire', {id: infoArtisan.idArtisan}) }}"><input type="submit" class="btn btn-primary" value="Modifier les informations"> </a><br><br>
                            <input type="submit" class="btn btn-primary" value="Supprimer le compte">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}