{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<div id="TdbAdmin"><h1>Tableau de bord Administrateur</h1></div>

<div class="flex-container">
    <div id="GraphAdmin1">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">

            // Chargement du graph via google

            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            //les valeurs du graph
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Work', 2],
                    ['Eat', 1],
                    ['TV', 1],
                    ['Gym', 1],
                    ['Sleep', 1]
                ]);
                // Changement de la taille et le titre du graphe
                var options = {'title': 'Artisans par secteur', 'width': 550, 'height': 400};
                var chart = new google.visualization.PieChart(document.getElementById('GraphAdmin1'));
                chart.draw(data, options);
            }
        </script>
    </div>

    <!-- A FAIRE POUR QUELQU'UN : AJOUTER LE NOMBRE D'ARTISAN INSCRITS -->

    <div id="BarreVerticale"></div>

    <!-- A FAIRE POUR QUELQU'UN : AJOUTER LE NOMBRE DE DEMANDES DE PRESTATION -->

    <div id="GraphAdmin2" style="display: inline-block;">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            // Chargement du graph via google
            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            //les valeurs du graph
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Work', 10],
                    ['Eat', 20],
                    ['TV', 30],
                    ['Gym', 40],
                    ['Sleep', 0]
                ]);
                // Changement de la taille et le titre du graphe
                var options = {'title': 'Demandes par secteur', 'width': 550, 'height': 400};
                var chart = new google.visualization.PieChart(document.getElementById('GraphAdmin2'));
                chart.draw(data, options);
            }
        </script>
    </div>
</div>

<div class="flex-container">
    <div id="BarreHorizontale"></div>
</div>
<div class="service">
    <h3 id="ServiceTitle">Services</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom du service</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.idService }}</td>
                <td>{{ service.nomService }} <button class="service_button" ><a href="{{ path('tdbadmin.service.edit',{id: service.idService}) }}" >Modifier le service</a></button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <label> <h2> Ajouter un service</h2><br>
        <button class="service_button" ><a href="{{ path('tdbadmin.service.create') }}" >Ajouter un service service</a></button>
    </label>

</div>

<div class="parametre">
    <h3 id="parametreTitle">Parametre</h3>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Période Gratuité</th>
                <th>Prix réception de la demande</th>
                <th>Prix validation de la demande</th>
                <th>Distance max client/artisan</th>
                <th>Prix du crédit</th>
                <th>Prix de l'abonnement</th>
                <th>Prix récéption de la demande avec un abonnement</th>
                <th>Prix récéption de la validation de la demande avec un abonnement</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for parametre in parametre %}
            <tr>
                <td>{{ parametre.periodeGratuite }} </td>
                <td>{{ parametre.prixReceptionDemande }}</td>
                <td>{{ parametre.prixValidationDemande }}</td>
                <td>{{ parametre.distanceMaxClientArtisan }}</td>
                <td>{{ parametre.prixUnCredit }}</td>
                <td>{{ parametre.prixAbonnement }}</td>
                <td>{{ parametre.prixReceptionDemandeAbonnement }}</td>
                <td>{{ parametre.prixValidationDemandeAbonnement }}</td>
                <td><button class="parametre_button" ><a href="{{ path('tdbadmin.parametre.edit',{id: parametre.idParametre}) }}" >Modifier le parametre</a></button><td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}