{% extends 'base.html.twig' %}

{% block title %}SR2F | Demande{% endblock %}

{% block body %}
	<h2 style="text-align:center;margin-bottom:10px;margin-top:10px;"> Création de la demande de prestation </h2>
		<div class="formulaire" style="width: 50%;margin:auto;">
			{{ form_start(form) }}
			{{ form_row(form.nomClient,{'label':'Nom :','attr':{'placeholder':'Martin','name':'test'}}) }}
			{{ form_row(form.prenomClient, {'label':'Prénom :','attr':{'placeholder':'Martin'}}) }}
			{{ form_row(form.adresseInterventionNumero, {'label':'Numéro de la rue :'}) }}
			{{ form_row(form.adresseInterventionRue, {'label':'Rue :'}) }}
			{{ form_row(form.adresseInterventionVille, {'label':'Ville :'}) }}
			{{ form_row(form.adresseInterventionCp, {'label':'Code postal :', 'attr':{'pattern':'\\d{5}','maxlength':'5'}}) }}
			{{ form_row(form.adresse_complementaire_client, {'label':'Adresse complémentaire :'}) }}
			{{ form_row(form.telClient, {'label':'Téléphone :', 'attr':{'pattern':'(0)[1-9]\\d{8}','maxlength':'10'}}) }}
			{{ form_row(form.mailClient, {'label':'Email :'}) }}
			{{ form_row(form.idService, {'label':'Service :'}) }}
			{{ form_row(form.descriptionSup, {'label':'Explication de la demande :'}) }}
			{{ form_row(form.dateRealisation, {'label':'Date souhaité de réalisation :'}) }}
			{{ form_row(form.Valider) }}
			{{ form_end(form) }}
		</div>
{% endblock %}