<!DOCTYPE html>
{% block body %}
<html lang="fr">
<head>
    <title>Paiement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
    <div class="text-center col-lg-offset-2 col-md-4">
        <div class="our_team_area">
            <h3 class="text-center card-header">Acheter du crédit en toute sécurité :</h3>
            <h4 class="text-center card-header">(1 crédit = 1,00€)</h4><br>
            <div style="text-align: center">
                <button type="submit" class="btn btn-success"><a href="{{ path('paypalpaiement', {prix: 1}) }}">1€ = 1 crédits</a></button><br><br>
                <button type="submit" class="btn btn-success"><a href="{{ path('paypalpaiement', {prix: 2}) }}">2€ = 2 crédits</a></button><br><br>
                <button type="submit" class="btn btn-success"><a href="{{ path('paypalpaiement', {prix: 5}) }}">5€ = 5 crédits</a></button><br><br>
                <button type="submit" class="btn btn-success"><a href="{{ path('paypalpaiement', {prix: 10}) }}">10€ = 10 crédits</a></button><br><br>
                <button type="submit" class="btn btn-success"><a href="{{ path('paypalpaiement', {prix: 20}) }}">20€ = 20 crédits</a></button><br><br>
                <button type="submit" class="btn btn-success"><a href="{{ path('paypalpaiement', {prix: 100}) }}">100€ = 100 crédits</a></button><br><br>
            </div>
        </div>
    </div>
    <div class="text-center col-md-4">
        <div class="our_team_area">
            <h4 class="text-center">Mes crédits actuels : {{ artisan.credit }}</h4><br>

            <label class="text-center">Nombre de demandes de prestation souhaitées :
                <input id="calcul" class="text-center" onkeyup="calcul()"><br>
            </label>

            <label id="resultat" class="text-center">Nombre de crédits nécessaires : </label>

            <script>
                function calcul() {
                    let nombre;
                    let chaine;
                    chaine = "Nombre de crédits nécessaires : ";
                    nombre = parseInt(document.getElementById("calcul").value);
                    let resultat = nombre * {{ prixReceptionDemande }};
                    if (isNaN(nombre)){
                        document.getElementById("resultat").innerHTML = chaine + "Nombre invalide !";
                    }
                    else {
                        document.getElementById("resultat").innerHTML = chaine + resultat;
                    }
                }
            </script>
        </div>
    </div>
</body>
</html>
{% endblock %}