<!DOCTYPE html>

{% include 'navbar.html.twig' %}
{% include 'css.html.twig' %}

{% block body %}
<html lang="fr">
<head>
    <title>Paiement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
<div class="text-center professional_builder row" style="padding-top: 80px">
    <h2>Service d'achat de crédits</h2>
    <div class="text-center col-lg-offset-2 col-md-4" style="padding-top: 30px">
        <div class="professional_builder row">
            <h3 class="text-center card-header">Acheter des crédits en toute sécurité :</h3>
            <h4 class="text-center card-header">(1 crédit = {{ param.prixUnCredit }}€)</h4><br><br><br>
            <div style="text-align: center">
            {% for lePrix in prixCredits %}
                <button type="submit" class="btn btn-success"><a href="{{ path('paypalpaiement', {prix: lePrix[0]}) }}" style="color: white">{{lePrix[0]}}€ = {{lePrix[1]}} crédits</a></button><br><br>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="text-center col-md-4" style="padding-top: 30px">
        <div class="professional_builder row">
        <h3 class="text-center card-header">Consultez le nombre de crédit nécessaire :</h3><br><br><br>
        <div class="our_team_area list-group-item">
            <h4 class="text-center">Mes crédits actuels : {{ artisan.credit }}</h4><br>

            <label class="text-center">Nombre de demandes de prestation souhaitées :
                <input id="calcul" class="text-center" onkeyup="calcul()"><br><br>
            </label>

            <label id="resultat" class="text-center">Nombre de crédits nécessaires : </label><br>

            <script>
                function calcul() {
                    let nombre;
                    let chaine;
                    chaine = "Nombre de crédits nécessaires : ";
                    nombre = parseInt(document.getElementById("calcul").value);
                    let resultat = nombre * ({{ param.prixReceptionDemande }} + {{ param.prixValidationDemande }});
                    if (isNaN(nombre)){
                        document.getElementById("resultat").innerHTML = chaine + "Nombre invalide !";
                    }
                    else {
                        document.getElementById("resultat").innerHTML = chaine + resultat;
                    }
                }
            </script>
        </div>
        </div>
    </div>
</body>
</html>
{% endblock %}