{% extends 'base.html.twig' %}

{% block title %}Détail du devis{% endblock %}

{% block body %}
<div class="badge-center" style="margin: 0 auto; width: 600px; padding-top: 50px;">
    <h3>Informations du Devis</h3><br><br>
    <div class="badge-modif" style="font-size: 18px!important">
        <div class ="main-container">
            <div class=" highlight" style="margin-left:0;">
                <div class="row">
                    <ul class="list-group">
                        <li class="list-group-item">Numéro du devis: {{ Devis.idDevis }}</li>
                         <li class="list-group-item">Nom du client: {{ Client.nomClient }}</li>
                         <li class="list-group-item">Prenom du client: {{ Client.prenomClient }}</li>
                         <li class="list-group-item">Date envoie du devis: {{ dateDevis }}</li>
                         <li class="list-group-item">Date réalisation de la prestation: {{ dateRealisation}}</li>
                         <li class="list-group-item">Fichier joint devis: {{ Devis.fichierJoint }}</li>
                        <INPUT type="button" value="Retour" onClick="window.history.back()">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
