{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/InscriptionController.php'|file_link(0) }}">src/Controller/InscriptionController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/inscription/index.html.twig'|file_link(0) }}">templates/inscription/index.html.twig</a></code></li>
    </ul>
</div>
    <head>
        <link rel="stylesheet" href="{{ asset('build/css/reg.css') }}" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <meta charset="utf-8">
        <title>SR2F | Inscription</title>
    </head>
    <body>

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- <img src="./images/logotrue.png" width="44" height="32"> -->

            <a href="index.php" class="logo"><strong>Mov</strong>eat</a>
            <nav id="ALO">
                <a href="index.php" class="buttonreg" style="font-size: 0.7em !important;padding-right: 8px;color: white!important;">&nbsp&nbspAccueil&nbsp&nbsp</a>
            </nav>


        </div>
    </header>


    <img id="img" src="{{ asset('build/images/banner-bg.jpg') }}">

    <div class="container">

        <form class="well form-horizontal" action="./functions/inscription.php" method="post"  id="contact_form">
            <fieldset>
                <!-- Form Name -->
                <legend><center><h2><b>Formulaire d'inscription</b></h2></center></legend><br>


                <!-- Text input -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="gender">Genre</label>
                    <!-- <div class="controls"> -->
                    <!-- <div class="d-inline"> -->
                    <div class="col-md-4 inputGroupContainer">
                        <label class="input-group-addon" for="gender-0">
                            <input name="sexe" id="gender-0" value="Homme" type="radio" value="yes" required>
                            Homme
                        </label>
                        <label class="input-group-addon" for="gender-1">
                            <input name="sexe" id="gender-1" value="Femme" type="radio">
                            Femme
                        </label>
                    </div>
                </div>
                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Prénom</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="prenom" placeholder="Prénom" class="form-control"  type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Nom</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="nom" placeholder="Nom" class="form-control"  type="text">
                        </div>
                    </div>
                </div>

                <!-- Text input-->


                <div class="form-group">
                    <label class="col-md-4 control-label">Date de naissance</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <input type="text" class="form-control" name="datenaissance" id="datenaissance" placeholder="1999-12-31" />
                        </div>
                    </div>
                </div>

                <!-- Text input-->


                <div class="form-group">
                    <label class="col-md-4 control-label">Campus</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="campus" class="form-control selectpicker">
                                <option value="">Selectionnez votre campus</option>
                                <option>EPSI</option>
                                <option>WIS</option>
                                <option >OSS</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Classe</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                            <select name="classe" class="form-control selectpicker">
                                <option value="">Selectionnez votre classe</option>
                                <option>B1</option>
                                <option>B2</option>
                                <option>I3</option>
                                <option>I4</option>
                                <option>I5</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Mot de passe</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="password" placeholder="Mot de passe" class="form-control"  type="password">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label" >Confirmez le Mot de Passe</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="confirm_password" placeholder="Confirmez le mot de passe" class="form-control"  type="password">
                        </div>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">E-Mail</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input name="mail" placeholder="Adresse e-mail" class="form-control"  type="text">
                        </div>


                        <small class="text-muted"><i class="fa fa-exclamation-triangle"> </i> Veuillez mettre votre adresse e-mail propre à votre campus.</small>
                    </div>
                </div>


                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Numero de téléphone</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input name="telephone" placeholder="(Facultatif)" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <!-- CheckBox -->

                <div class="form-group">


                    <label class="col-md-7 control-label" for="acceptation" style="min-width:300px;">
                        <input type="checkbox" name="acceptation" id="acceptation" required>
                        J'accepte les <a href="conditions.html">mentions légales</a>. &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </label>
                </div>



                <!-- Select Basic -->

                <!-- Success message -->
                <div class="alert alert-success" role="alert" id="success_message">Inscription terminée <i class="glyphicon glyphicon-thumbs-up"></i></div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4"><br>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <button type="submit" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspS'INSCRIRE
                            <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div><!-- /.container -->

 ?>


    <!-- Scripts -->
    <script src="{{ asset('build/js/jquery-1.12.0.min.js') }}"></script>
    <script src="./js/reg.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="./js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./js/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="./js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="./js/fr_FR.js"></script>

    </body>
    </html>

{% endblock %}
