{% extends 'base.html.twig' %}

{% block title %}Tableau demandes administrateur{% endblock %}

{% block body %}
    <div class="who_we_area" style="text-align: center; padding-top: 50px;">
        <h3>Liste des demandes de devis en cours</h3><br><br>
        <div id="tableauprestataires" style="display: inline-block;">
            <table class="table">
                <thead class="thead-dark">
                <tr style="text-align: center">
                    <th scope="row">Nom</th>
                    <th scope="row">Prénom</th>
                    <th scope="row">Date de proposition</th>
                    <th scope="row">Date de réalisation</th>
                    <th scope="row">État d'avancement</th>
                </tr>
                </thead>
                {% for client in clients %}
                <tr>
                    <td>{{ client.nomClient }}</td>
                    <td>{{ client.prenomClient }}</td>
                    <td>{{ client.dateProposition|date('Y/m/d') }}</td>
                    <td>{{ client.dateRealisation|date('Y/m/d') }}</td>
                    <td>{{ client.etatAvancement }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}