{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
 <section class="what_we_area row" style="background-color: #E8E8E8;">
<div class="badge-center" style="margin: 0 auto; width: 600px; padding-top: 50px;">
    <h3>Informations du compte</h3><br><br>
    <div class="badge-modif" style="font-size: 18px!important">
        <div class ="main-container">
            <div class=" highlight" style="margin-left:0;">
                <div class="row">
                    <ul class="list-group">
                        <li class="list-group-item"><b>Nom :</b> {{ infosArtisan.nom }}</li>
                        <li class="list-group-item"><b>Prénom :</b> {{ infosArtisan.prenom }}</li>
                        <li class="list-group-item"><b>Service(s) :</b>
                        {% set lastService = infoService|last %}
                        {% set lastElement = infoService|slice(0,-1) %}
                            {% for service in lastElement %}
                            {{ service.nomService }} -
                            {% endfor %}
                        {{ lastService.nomService }}
                        </li>
                        <li class="list-group-item"><b>Téléphone :</b> {{ infosArtisan.tel }}</li>
                        <li class="list-group-item"><b>Mail :</b> {{ infosArtisan.mail }}</li>
                        <li class="list-group-item"><b>SIREN :</b> {{ infosArtisan.siren }}</li>
                        <li class="list-group-item"><b>Raison sociale :</b> {{ infosArtisan.raisonSociale }}</li>
                        <li class="list-group-item"><b>Numéro d'assurance :</b> {{ infosArtisan.numAssurance }}</li>
                        <li class="list-group-item"><b>Description de l'activité :</b> {{ infosArtisan.description }}</li>
                        <li class="list-group-item"><b>Formule :</b> {{ infosArtisan.idFormule.nomFormule }}</li>
                        <li class="list-group-item"><b>Crédits :</b> {{ infosArtisan.credit }}</li><br>
                        <a href="{{ path('changepassword') }}"><input type="submit" class="btn btn-success" value="Changer le mot de passe"></a><br><br>
                        <a href="{{ path('moncomptemodif') }}"><input type="submit" class="btn btn-primary" value="Modifier mes informations"> </a><br><br>
                        <input type="submit" class="btn btn-danger" value="Supprimer mon compte"><br><br>
                        <a href="{{ path('espacepartenaire') }}"><input type="submit" class="btn btn-primary" value="Retour"> </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</section>
{% endblock %}
