{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="badge-center" style="margin: 0 auto; width: 600px; padding-top: 50px;">
    <h3>Informations du compte</h3><br><br>
    <div class="badge-modif" style="font-size: 18px!important">
        <div class ="main-container">
            <div class=" highlight" style="margin-left:0;">
                <div class="row">
                    <ul class="list-group">
                        <li class="list-group-item">Nom : {{ infosArtisan.nom }}</li>
                        <li class="list-group-item">Prénom : {{ infosArtisan.prenom }}</li>
                        <li class="list-group-item">Service(s) :
                        {% set lastService = infoService|last %}
                        {% set lastElement = infoService|slice(0,-1) %}
                            {% for service in lastElement %}
                            {{ service.nomService }} -
                            {% endfor %}
                        {{ lastService.nomService }}
                        </li>
                        <li class="list-group-item">Téléphone : {{ infosArtisan.tel }}</li>
                        <li class="list-group-item">Mail : {{ infosArtisan.mail }}</li>
                        <li class="list-group-item">SIREN : {{ infosArtisan.siren }}</li>
                        <li class="list-group-item">Raison sociale : {{ infosArtisan.raisonSociale }}</li>
                        <li class="list-group-item">Numéro d'assurance : {{ infosArtisan.numAssurance }}</li>
                        <li class="list-group-item">Description de l'activité : {{ infosArtisan.description }}</li>
                        <li class="list-group-item">Formule : {{ infosArtisan.idFormule.nomFormule }}</li>
                        <li class="list-group-item">Crédits : {{ infosArtisan.credit }}</li><br>
                        <input type="submit" class="btn btn-success" value="Changer le mot de passe"><br><br>
                        <a href="{{ path('moncomptemodif', {id: infosArtisan.idArtisan}) }}"><input type="submit" class="btn btn-primary" value="Modifier mes informations"> </a><br><br>
                        <input type="submit" class="btn btn-danger" value="Supprimer mon compte">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
