{% extends 'base.html.twig' %}

{% block title %}Espace partenaire{% endblock %}

{% block body %}
    <section class="what_we_area row">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="tittlefont" style="margin-top: -40px"><b>ESPACE PARTENAIRE</b></h2>
                    <!-- A FAIRE POUR ALEXANDRE : REVOIR LE CSS -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a class="container" href="{{ path('moncompte') }}">
                        <img style="width:100%; min-height: 240px" src="{{ asset('build/images/calculator-385506_1920.jpg') }}" alt="Card image cap">
                        <div class="centered"><h4 class="espace" style=" text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black">MON COMPTE</h4><br></div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="container" href="{{ path('mesdisponibilites') }}">
                        <img style="width:100%; min-height: 327px" src="{{ asset('build/images/clock-1274699_1920.jpg') }}" alt="">
                        <div class="centered"><h4 class="espace" style=" text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black">MES DISPONIBLITÉS</h4><br></div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="container" href="{{ path('maformule') }}">
                        <img style="width:100%; min-height: 240px" src="{{ asset('build/images/laptop-3196481_1920.jpg') }}" alt="">
                        <div class="centered"><h4 class="espace" style=" text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black">MA FORMULE</h4><br></div>
                    </a><br>
                </div>
                <div class="col-lg-6">
                    <a class="container" href="{{ path('mesdemandes') }}">
                        <img style="width:100%; min-height: 240px" src="{{ asset('build/images/house-1407562_1920.jpg') }}" alt="">
                        <div class="centered"><h4 class="espace" style=" text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black">MES DEMANDES DE PRESTATION</h4><br></div>
                    </a>
                </div>
                <div class="col-lg-6">
                    <a class="container" href="{{ path('mesdevis') }}">
                        <img style="width:100%; min-height: 240px" src="{{ asset('build/images/wrench-717684_1920.jpg') }}" alt="">
                        <div class="centered"><h4 class="espace" style=" text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black">MES DEVIS</h4><br></div>
                    </a>
                </div>
				<div class="col-lg-6" >
                    <a class="container" href="{{ path('paiement') }}">
                        <img style="width:100%; min-height: 240px" src="{{ asset('build/images/wrench-717684_1920.jpg') }}" alt="">
                        <div class="centered"><h4 class="espace" style=" text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black">MES CREDITS</h4><br></div>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}