{% extends 'base.html.twig' %}

{% block title %}Mes devis{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}



<BR>
<div class="col-md-3">>
	<h1>Historique</h1>
	  {% for Historique in chaineHistorique %}
        <div>{{ Historique}}</div>
    {% endfor %}

</div>

<div class="col-md-6" >
 <h1 align='center'>Mes Devis
 {% if nombreDevisNonVisualise > 0 %}
 ({{nombreDevisNonVisualise }} non visualisé)
 {% endif %} </h1>
  	<div class="Devis" >
		<table>
		<tr>
			<th>Nom du Client</th>
    	<th>Prénom du Client</th>
    	<th>Addresse Intervention</th>
			<th>Date de l'envoie du devis</th>
			<th>Fichier joint</th>
			<th>Status du devis</th>
		</tr>
		{% for Devis in chaineDevis %}
			<tr>
				<td>{{Devis[0]}}</td>
				<td>{{Devis[1]}}</td>
				<td>{{Devis[2]}}</td>
				<td>{{Devis[3]}}</td>
				<td>{{Devis[4]}}</td>
				<td>{{Devis[5]}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
<div class="col-offset-3" >
</div>




{% endblock %}
