{% extends 'base.html.twig' %}

{% block title %}Modification de la demande{% endblock %}

{% block body %}
    <div class="badge-center" style="margin: 0 auto; width: 600px; padding-top: 50px;">
        <h3>Modification des informations de la demande</h3><br><br>
        <div class="badge-modif" style="font-size: 18px!important">
            <div class ="main-container">
                <div class=" highlight" style="margin-left:0;">
                    <div class="row">
                        <ul class="list-group">
                            <label class="list-group-item">Nom :
                                <input type="text" value="{{ infoClient.nomClient }}"></label>
                            <label class="list-group-item">Prénom :
                                <input type="text" value="{{ infoClient.prenomClient }}"></label>
                            <label class="list-group-item">Numéro de rue :
                                <input type="text" value="{{ infoClient.adresseInterventionNumero }}"></label>
                            <label class="list-group-item">Rue :
                                <input type="text" value="{{ infoClient.adresseInterventionRue }}"></label>
                            <label class="list-group-item">Ville :
                                <input type="text" value="{{ infoClient.adresseInterventionVille }}"></label>
                            <label class="list-group-item">Code postal :
                                <input type="text" value="{{ infoClient.adresseInterventionCp }}"></label>
                            <label class="list-group-item">Téléphone :
                                <input type="text" value="{{ infoClient.telClient }}"></label>
                            <label class="list-group-item">Mail :
                                <input type="text" value="{{ infoClient.mailClient }}"></label>
                            <label class="list-group-item">Description :
                                <input type="text" value="{{ infoClient.descriptionSup }}"></label>
                            <label class="list-group-item">État d'avancement :
                                <input type="text" value="{{ infoClient.etatAvancement }}"></label><br>
                            <a href="{{ path('admindemandesdetail', {id: infoClient.idClient}) }}"><input type="submit" class="btn btn-primary" value="Sauvegarder"></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}
