{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params'))
%}


{% set currentRole = "" %}
{% if app.user.roles is defined %}
{% for role in app.user.roles %}
    {% if role == 'ROLE_ARTISAN' %}
    {% set currentRole = role %}
    {% endif %}
    {% if role == 'ROLE_COMMERCIAL' %}
        {% set currentRole = role %}
    {% endif %}
    {% if role == 'ROLE_ADMIN' %}
        {% set currentRole = role %}
    {% endif %}
{% endfor %}
{% endif %}
{% block top_header_area %}
{% endblock %}
<nav class="navbar navbar-default header_aera" id="main_navbar"style=" position: fixed; padding-top: -20px;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-2 p0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#min_navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="col-md-12 p0">
            <div class="collapse navbar-collapse" id="min_navbar">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/" class="logo"><strong>SR2F</strong></a></li>

					{% if currentPath == path('home') or currentPath == path('contact') or currentPath == path('demande_prestation') %}
						<li><a href="/#apropos">À propos</a></li>

						<li><a href="/#services">Services</a></li>

						<li><a href="/#garanties">Garanties</a></li>

						<li><a href="/#equipe">Notre Équipe</a></li>

						<li><a href="{{ path('demande_prestation')}}">Faire une demande de prestation</a></li>

                    <li><a href={{ path('contact') }}>Contact</a></li>
                    {% endif %}
                {% if currentRole == 'ROLE_ARTISAN' %}
                <li><a href="{{ path('moncompte')}}">Mon compte</a></li>
                <li><a href="{{ path('mesdisponibilites')}}">Mes disponibilités</a></li>
                <li><a href="{{ path('maformule')}}">Ma formule</a></li>
                <li><a href="{{ path('mesdemandes')}}">Mes demandes</a></li>
                <li><a href="{{ path('mesdevis')}}">Mes devis</a></li>
                <li><a href="{{ path('paiement')}}">Mes crédits</a></li>
                {% endif %}
                {% if currentRole == 'ROLE_ADMIN' and (currentPath == path('admindemandes') or currentPath == path('adminprestataire') or currentPath == path('tdbadmin') ) %}
                <li><a href="{{ path('tdbadmin') }}"><b>Tableau Admin</b></a></li>
                <li><a href="{{ path('admindemandes')}}">Les demandes admin</a></li>
                <li><a href="{{ path('adminprestataire')}}">Les artisans admin</a></li>
                {% endif %}
                {% if currentRole == 'ROLE_COMMERCIAL' and (currentPath == path('commercialdemandes') or currentPath == path('commercialprestataire') or currentPath == path('tdbcommercial') ) %}
                <li><a href="{{ path('tdbcommercial') }}"><b>Tableau Commercial</b></a></li>
                <li><a href="{{ path('commercialdemandes')}}">Les demandes commercial</a></li>
                <li><a href="{{ path('commercialprestataire')}}">Les artisans commercial</a></li>
                {% endif %}
            </ul>

                {% if currentRole != 'ROLE_ARTISAN' and currentRole != 'ROLE_COMMERCIAL' and currentRole != 'ROLE_ADMIN' %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('app_login_artisan')}}">Connexion</a></li>
                    <li><a href="{{ path('app_register')}}">Inscription</a></li>
                </ul>
                {% elseif currentRole == 'ROLE_ARTISAN' %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/artisan/logout_artisan">Déconnexion</a></li>
                </ul>
                {% elseif currentRole == 'ROLE_COMMERCIAL' %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/commercial/logout_commercial">Déconnexion</a></li>
                </ul>
                {% elseif currentRole == 'ROLE_ADMIN' %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/admin/logout_admin">Déconnexion</a></li>
                </ul>
                {% endif %}

            </div><!-- /.navbar-collapse -->
        </div>
    </div><!-- /.container -->
</nav>