{% extends 'base.html.twig' %}

{% block title %}Modification du compte{% endblock %}

{% block body %}
    <div class="badge-center" style="margin: 0 auto; width: 600px; padding-top: 50px;">
        <h3>Modification de mes informations</h3><br><br>
        <div class="badge-modif" style="font-size: 18px!important">
            <div class ="main-container">
                <div class="highlight" style="margin-left:0;">
                    <div class="row">
                        <div class="formulaire">
                            {{ form_start(form) }}
                            {{ form_row(form.nom,{'label':'Nom :','attr':{'class':'form-control', 'name':'nom', 'id':'nom'}}) }}
                            {{ form_row(form.prenom,{'label':'Prénom :','attr':{'class':'form-control', 'name':'prenom'}}) }}
                            {{ form_row(form.siren,{'label':'SIREN :','attr':{'class':'form-control', 'name':'siren'}}) }}
                            {{ form_row(form.tel,{'label':'Téléphone :','attr':{'class':'form-control', 'name':'tel'}}) }}
                            {{ form_row(form.mail,{'label':'Email :','attr':{'class':'form-control', 'name':'mail'}}) }}
                            {{ form_row(form.description,{'label':'Description :','attr':{'class':'form-control', 'name':'description'}}) }}
                            {{ form_row(form.sauvegarde,{'label':'Sauvegarder','attr':{'class':'btn btn-primary', 'name':'sauvegarde', 'id':'idArtisan'}}) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}
