{% extends 'base.html.twig' %}

{% block title %}Modification du compte{% endblock %}

{% block body %}
    <div class="badge-center" style="margin: 0 auto; width: 600px; padding-top: 50px;">
        <h3>Modification de mes informations</h3><br><br>
        <div class="badge-modif" style="font-size: 18px!important">
            <div class ="main-container">
                <div class=" highlight" style="margin-left:0;">
                    <div class="row">
                        <ul class="list-group">
                            <label class="list-group-item">Nom :
                                <input type="text" value="{{ artisan.nom }}"></label>
                            <label class="list-group-item">Prénom :
                                <input type="text" value="{{ artisan.prenom }}"></label>
                            <label class="list-group-item">Raison sociale :
                                <input type="text" value="{{ artisan.raisonSociale }}"></label>
                            <label class="list-group-item">SIREN :
                                <input type="text" value="{{ artisan.siren }}"></label>
                            <label class="list-group-item">Téléphone :
                                <input type="text" value="{{ artisan.tel }}"></label>
                            <label class="list-group-item">Mail :
                                <input type="text" value="{{ artisan.mail }}"></label>
                            <label class="list-group-item">Description :
                                <input type="text" value="{{ artisan.description }}"></label>
                            <label class="list-group-item">Numéro d'assurance :
                                <input type="text" value="{{ artisan.numAssurance }}"></label>
                            <label class="list-group-item">Crédits :
                                <input type="text" value="{{ artisan.credit }}"></label><br>
                            <a href="{{ path('moncompte', {id: artisan.idArtisan}) }}"><input type="submit" class="btn btn-primary" value="Sauvegarder"></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}
