{% extends 'base.html.twig' %}

{% block title %}Modification du prestataire{% endblock %}

{% block body %}
    <div class="badge-center" style="margin: 0 auto; width: 600px; padding-top: 50px;">
        <h3>Modification des informations de l'artisan {{ artisans.nom }} {{ artisans.prenom }}</h3><br><br>
        <div class="badge-modif" style="font-size: 18px!important">
            <div class ="main-container">
                <div class=" highlight" style="margin-left:0;">
                    <div class="row">
                        <ul class="list-group">
                            <label class="list-group-item">Nom :
                                <input type="text" value="{{ artisans.nom }}"></label>
                            <label class="list-group-item">Prénom :
                                <input type="text" value="{{ artisans.prenom }}"></label>
                            <label class="list-group-item">Raison sociale :
                                <input type="text" value="{{ artisans.raisonSociale }}"></label>
                            <label class="list-group-item">SIREN :
                                <input type="text" value="{{ artisans.siren }}"></label>
                            <label class="list-group-item">Téléphone :
                                <input type="text" value="{{ artisans.tel }}"></label>
                            <label class="list-group-item">Mail :
                                <input type="text" value="{{ artisans.mail }}"></label>
                            <label class="list-group-item">Description :
                                <input type="text" value="{{ artisans.description }}"></label>
                            <label class="list-group-item">Numéro d'assurance :
                                <input type="text" value="{{ artisans.numAssurance }}"></label>
                            <label class="list-group-item">Crédits :
                                <input type="text" value="{{ artisans.credit }}"></label>
                            <label class="list-group-item">Coordonnée latitude :
                                <input type="text" value="{{ artisans.coordonneeLatitude }}"></label>
                            <label class="list-group-item">Coordonnée longitude :
                                <input type="text" value="{{ artisans.coordonneeLongitude }}"></label>
                            <a href="{{ path('adminprestatairedetail', {id: artisans.idArtisan}) }}"><input type="submit" class="btn btn-primary" value="Sauvegarder"></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}
